<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" th:fragment="sidebar">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li th:each="sidebarMenu : ${sidebarMenuList}" th:class="${sidebarMenu.dropDown} ? 'admin-parent'">
                <a th:if="${sidebarMenu.dropDown}" class="am-cf"
                   th:data-am-collapse="|{target: '#collapse-nav-${sidebarMenuStat.count}'}|">
                    <span th:class="${sidebarMenu.menuIconClass}"></span>
                    <span th:text="${sidebarMenu.menuName}"></span>
                </a>
                <ul th:if="${sidebarMenu.dropDown}" class="am-list am-collapse admin-sidebar-sub am-in"
                    th:id="|collapse-nav-${sidebarMenuStat.count}|">
                    <li th:each="subMenu : ${sidebarMenu.subMenuDtoList}">
                        <a th:href="@{${subMenu.menuUrl}}">
                            <span th:class="${subMenu.menuIconClass}"></span>
                            <span th:text="${subMenu.menuName}"></span>
                        </a>
                    </li>
                </ul>
                <a th:unless="${sidebarMenu.dropDown}" th:href="@{${sidebarMenu.menuUrl}}">
                    <span th:class="${sidebarMenu.menuIconClass}"></span>
                    <span th:text="${sidebarMenu.menuName}"></span>
                </a>
            </li>
        </ul>

    </div>
</div>
</body>
</html>