<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas" th:fragment="sidebar">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="#"><span class="am-icon-home"></span> 首页</a></li>
            <li><a href="#"><span class="am-icon-table"></span> 表格</a></li>
            <li><a href="#"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
        </ul>
    </div>
</div>
</body>
</html>